/**
 * @author Benjamin Peronne
 * @email contact@benjaminperonne.fr
 * @create date 2021-02-13 20:08:41
 * @modify date 2021-02-13 20:08:41
 * @desc [Wi_Tchat]
 */

:root {
    --cyan: #00e0ff;
    --black_1: #212529;
}

body {
    background-color: var(--black_1);
    font-family: sans-serif;
}
html,
body {
    height: 100%;
    overflow: hidden;
}

a:hover {
    color: whitesmoke;
}
/* ------------------------------------- */
/* ---------- Responsive Part ----------*/
@media screen and (max-height: 736px) {
    .discussionPanel {
        height: 25.5em !important;
    }
}

@media screen and (max-width: 414px) {
    /* .line {
        width: 36.18% !important;
    } */
    /* #rightContainer {
        visibility: collapse !important;
    } */
    .containerInsideContainer:nth-child(1){
        width : 100% !important;
    }
}
@media screen and (max-width: 470px) {
    .footer {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 375px) {
    .footer {
        font-size: 0.6em;
    }
    .responsive_title {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 320px) {
    .responsive_title {
        font-size: 1.2em;
    }
    .discussionPanel {
        height: 22em !important;
    }
}
/* @media screen and (max-height: 820px) {
    .discussionPanel {
        height: 36em ;
    }
} */

@media screen and (max-height: 1115px) {
    .discussionPanel {
        height: 36em ;
    }
}
/* ------------------------------------- */

/* ------------------------------------- */
/* ------------- class Part ------------*/
.pointer {
    cursor: pointer;
}
.textFormat_1 {
    color: var(--cyan);
    outline: none;
    text-decoration: none;
}
.formatText {
    font-family: OpenSans-Regular;
    font-size: 0.8em;
    line-height: 1.4em;
    /* color: #cccccc; */
}
.textFormat_2 {
    color: #00e0ff;
    font-size: small;
}
.footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.navBarSuppAdd {
    background-color: #343a40;
    /* border-radius: 1em; */
}
.flexNav {
    display: flex;
    justify-content: space-between;
}
.friendNamePanel {
    display: flex;
    
    background-color: rgb(39, 42, 45);
    color: white;
    max-height: 20%;
    height: 4em;
}
.adjust {
    padding-top: 1.3em;
}
.discussionPanel {
    background-color: #343a40;
    width: 100%;
    height: 35.5em;
    overflow-y: scroll;
}
.containerInsideContainer:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.containerInsideContainer:nth-child(2) { /*  Right Side*/
    display: flex;
    flex-direction: column;
}
.elementInput {
    border-radius: 0.5em;
    background-color: rgb(39, 42, 45);
    border: none;
}
.searchInput {
    border-radius: 0.5em;
    background-color: rgb(39, 42, 45);
    border: none;
}
.receiver {
    position: relative;
    border: 1px solid;
    background-color: rgb(39, 42, 45);
    border-radius: 0.4em;
}

.receiver:after {
    content: '';
    position: absolute;
    left: 0;
    top: 75%;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-right-color: rgb(39, 42, 45);
    border-left: 0;
    margin-top: -29px;
    margin-left: -18px;
}
.sender {
    position: relative;
    border: 1px solid;
    background-color: rgb(39, 42, 45);
    border-radius: 0.4em;
}

.sender:after {
    content: '';
    position: absolute;
    right: 0;
    top: 75%;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-left-color: rgb(39, 42, 45);
    border-right: 0;
    margin-top: -29px;
    margin-right: -18px;
}
.leftContainerSearch {
    /* width: 100%; */
    padding: 0.46em;
}
.leftContainerLine {
    /* width: 100%; */
}
.line {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 0%;
    left: 0px;
    top: 7.98em; */
    border: 0.5px solid #000000;
}
.containerContact {
    overflow-y: scroll;
    max-height: 40em;
}
.icon {
    font-size: 34px;
}
.username {
    padding: 0rem 0rem;
}
.mail {
    margin-bottom: 0em;
    padding-bottom: 0em;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 0.3em;
    /* pointer-events: none; */
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}
.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}
.right-addon input {
    padding-right: 30px;
}

.globalFriendList {
    display: flex;
    justify-content: space-between;
}

.globalFriendList:hover {
    background-color: #343a40;
}

/* .friendNameLeft {
    
}
.iconRemoveFriendRight {
    
} */
.logoutIcon {
    
    
}


/* ------------------------------------- */

/* ------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #343a40;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ------------------------------------- */

/* ------------------------------------- */

/* ------------------------------------- */
